body{
	font-size: 1rem;
	margin: 0px;
	padding-bottom: 10px;
	color: var(--tg-theme-text-color);
	background-color: var(--tg-theme-bg-color);
	font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",
	Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji",
	"Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
::-webkit-scrollbar{
	width: 0;
}
.preloader {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 1;
   visibility: visible;
   background-color: var(--tg-theme-bg-color);
   transition: opacity 1s, visibility 0s 0s;
}
.preloader_hidden {
   visibility: hidden;
   opacity: 0;
   transition: opacity 1s, visibility 0s 1s;
}
.sk-chase {
   width: 128px;
   height: 128px;
   position: relative;
   -webkit-animation: sk-chase 2.5s infinite linear both;
   animation: sk-chase 2.5s infinite linear both;
}
.sk-chase-dot {
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   -webkit-animation: sk-chase-dot 2s infinite ease-in-out both;
   animation: sk-chase-dot 2s infinite ease-in-out both;
}
.sk-chase-dot:before {
   content: '';
   display: block;
   width: 25%;
   height: 25%;
   background-color: #3626a7;
   border-radius: 100%;
   -webkit-animation: sk-chase-dot-before 2s infinite ease-in-out both;
   animation: sk-chase-dot-before 2s infinite ease-in-out both;
}
.sk-chase-dot:nth-child(1) {
   -webkit-animation-delay: -1.1s;
   animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
   -webkit-animation-delay: -1s;
   animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
   -webkit-animation-delay: -0.9s;
   animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
   -webkit-animation-delay: -0.8s;
   animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
   -webkit-animation-delay: -0.7s;
   animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
   -webkit-animation-delay: -0.6s;
   animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
   -webkit-animation-delay: -1.1s;
   animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2):before {
   -webkit-animation-delay: -1s;
   animation-delay: -1s;
}
.sk-chase-dot:nth-child(3):before {
   -webkit-animation-delay: -0.9s;
   animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4):before {
   -webkit-animation-delay: -0.8s;
   animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5):before {
   -webkit-animation-delay: -0.7s;
   animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6):before {
   -webkit-animation-delay: -0.6s;
   animation-delay: -0.6s;
}
@-webkit-keyframes sk-chase {
   100% {
       transform: rotate(360deg);
   }
}
@keyframes sk-chase {
   100% {
       transform: rotate(360deg);
   }
}
@-webkit-keyframes sk-chase-dot {
   80%, 100% {
      transform: rotate(360deg);
   }
}
@keyframes sk-chase-dot {
  80%, 100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-chase-dot-before {
   50% {
       transform: scale(0.4);
   }
   100%, 0% {
       transform: scale(1);
  }
}
@keyframes sk-chase-dot-before {
   50% {
      transform: scale(0.4);
   }
   100%, 0% {
      transform: scale(1);
   }
}
.sk-chase {
   width: 40px;
   height: 40px;
   position: relative;
   animation: sk-chase 2.5s infinite linear both;
}
.sk-chase-dot {
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   animation: sk-chase-dot 2.0s infinite ease-in-out both;
}
.sk-chase-dot:before {
   content: '';
   display: block;
   width: 25%;
   height: 25%;
   background-color: var(--tg-theme-button-color);
   border-radius: 100%;
   animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}
.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
@keyframes sk-chase {
   100% { transform: rotate(360deg); }
}
@keyframes sk-chase-dot {
   80%, 100% { transform: rotate(360deg); }
}
@keyframes sk-chase-dot-before {
   50% {
      transform: scale(0.4);
   } 100%, 0% {
      transform: scale(1.0);
   }
}
.header{
	position: fixed;
	min-width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
.sliderCategory{
	padding: 10px;
	background-color: var(--tg-theme-bg-color);
	border-bottom: 1px solid var(--tg-theme-hint-color);
}
.sliderCategory a{
	display: block;
	border-radius: 25px;
	text-decoration: none;
	line-height: 34px;
	margin: 0 3px;
	padding: 0 16px;
	transition: all ease 0.17s;
	white-space: nowrap;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}
.sliderCategory a:first-child{
	margin: 0 3px 0 0!important;
}
.sliderCategory a:last-child{
	margin: 0 0 0 3px!important;
}
.header a.active{
	color: var(--tg-theme-button-text-color);
	background: var(--tg-theme-button-color);
}

.sliderSale{
	margin-top: 65px;
	height: 170px;
}
.sliderSale img{
	height: 100%;
	width: 85%;
	margin-right: 10px;
	object-fit: cover;
}
.sliderSale video{
	width: 85%;
	height: 100%;
	margin-right: 10px;
	object-fit: cover;
}
.showcase{
	padding-left: 10px;
}
.showcase p{
	font-size: 14px;
	color: var(--tg-theme-hint-color);
}
.categoryElem{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.cardProduct{
	height: 100%;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	overflow: hidden;
	background: var(--tg-theme-bg-color);
}
.cardProduct img{
	width: 100%;
	height: 130px;
	object-fit: cover;
}
.cardProduct h3{
	height: 46px;
	margin: 0 0 5px 0;
	font-size: 18px;
	padding: 0px 5px 0px 5px;
}
.cardProduct p{
	height: 74px;
	font-size: 14px;
	padding: 0px 5px 0px 5px;
	margin: 0;
	color: var(--tg-theme-hint-color);
}
#popup-overlay .btn-space{
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 55%;
	height: 50px;
}
.cardProduct .btn-space{
	padding: 10px 0 10px 0;
	height: 40px;
	text-align: center;
}
.buttonAddToBasket{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	font-size: 14px;
	color: var(--tg-theme-button-text-color);
	background: var(--tg-theme-button-color);
	border: none;
}
#popup-overlay .buttonAddToBasket{
	font-size: 22px;
}
.buttonRemove{
   width: calc(35% - 10px);
   height: 100%;
   padding: 0;
   margin-right: 10px;
	border-radius: 5px;
	font-size: 14px;
	color: var(--tg-theme-button-text-color);
	background: var(--tg-theme-button-color);
	border: none;
}
.quantity{
   width: calc(30% - 10px);
   height: 100%;
   padding: 0;
   text-align: center;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}
.quantity:focus{
   outline: none;
}
.buttonAdd{
   width: calc(35% - 10px);
   height: 100%;
   padding: 0;
   margin-left: 10px;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	color: var(--tg-theme-button-text-color);
	background: var(--tg-theme-button-color);
}
#popup-overlay .buttonRemove{
   font-size: 22px;
}
#popup-overlay .quantity{
   font-size: 22px;
}
#popup-overlay .buttonAdd{
   font-size: 22px;
}
