#popup-overlay .btn-space{
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 55%;
	height: 50px;
}
.buttonAddToBasket{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	font-size: 14px;
	color: var(--tg-theme-button-text-color);
	background: var(--tg-theme-button-color);
	border: none;
}
.btnSpace .buttonAddToBasket{
	font-size: 18px;
}
.buttonRemove{
    width: calc(35% - 10px);
    height: 100%;
    padding: 0;
    margin-right: 10px;
	border-radius: 5px;
	font-size: 14px;
	color: var(--tg-theme-button-text-color);
	background: var(--tg-theme-button-color);
	border: none;
}
.quantity{
    width: calc(30% - 10px);
    height: 100%;
    padding: 0;
    text-align: center;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}
.quantity:focus{
    outline: none;
}
.buttonAdd{
    width: calc(35% - 10px);
    height: 100%;
    padding: 0;
    margin-left: 10px;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	color: var(--tg-theme-button-text-color);
	background: var(--tg-theme-button-color);
}
.btnSpace .buttonRemove{
    font-size: 18px;
}
.btnSpace .quantity{
    font-size: 18px;
}
.btnSpace .buttonAdd{
    font-size: 18px;
}